<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <input type="number" [(ngModel)]="param1" />
    <input type="number" [(ngModel)]="param2" />

    <button ion-button full (click)="testAdd(param1, param2)">Add</button>
    <button ion-button full (click)="testSubstract(param1, param2)">Substract</button>

  </div>
</ion-content>
